.save-button {
    display: flex;
    margin: 40px auto 0; /* Centre horizontalement */
    padding: 5px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--blue-menu);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

 
  