
  .appForm_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    /*min-width: 700px;*/
    min-height: 300px;
  }
  .appForm_container_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: auto;
    /*min-width: 700px;*/
    min-height: 300px;
  }
  .password_container{
    box-shadow: none;
  }
 
  .signup_container .input-field {
    border: 1.5px solid var(--blue-menu);

  }
  .signup_container .input-field::placeholder{
    font-size: 14px;
    color: var(--subfont-gray);
  }
  .signup_container p{
    font-size: 30px;
    letter-spacing: 3px;
  }
  .signup_container p span{
   
    font-weight: 700;
    letter-spacing: 3px;
  }
  .appForm_container p {
    text-align: center;
    margin: 4% 0%;
    font-weight: 500;
  }
  .appForm_container_login p {
    text-align: center;
    margin: 4% 0%;
    font-weight: 500;
  }
  .password_container p {
    text-align:left;
    
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    
  }
  
  .btn_addclient{
    padding: 0px;
    height: auto;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 37%;
    left: 64%;
    transform: translate(-50%, -50%);
    border: none;
    color: var(--blue-menu);
    
  }
  .close-button:hover {
    color: var(--alert-red);
  }
  
 .form-row{
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  min-height: 100px;
 }
 
 .align_end{
  align-items:flex-end;
  display: flex;
  gap: 20px;
  justify-content: center;  
 }
  .coucheForm_container{
   padding: 0px 2% 1% 1%;
    border-bottom:#333 1px solid;
    border-top:#333 1px solid;
  }
 
.input-cntrl-desc{
  align-items: center;
  gap: 15px;
  height: auto;
}
  
/*#multi-line-input{
  display: block;
*/

.signup_container .forgot-password {
  text-align: right;
  width: 100%;
  margin-top: 9px;
}

.signup_container .forgot-password a {
  text-decoration: none;
  font-size: 12px;
}

.signup_container .forgot-password a:hover {
  text-decoration: underline;
}


