@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    img{display:initial;}
}
.page-break {
    page-break-before: always;
  }
  .no-print {
    display: none;
  }
  
@layer utilities {
    
  }

html {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    
}

:root {
    
    --blue-icons: #0B87AC;
    --blue-nav: #E9EFF8;
    --blue-conf: #0071FF;
    --blue-menu: #152259;
    --blue-hover: #0B87AC;

    --success-green: #276E27;
    --await-orange: #FFA000;
    --alert-red: #FF0000;

    --subfont-gray: #8C8C8C;
    --status-gray: #A3ADB8;
    --font-gray: #262E36;

}

body {
    background-color: white;
    color: var(--font-gray);
    font-size: 16px;
    
}
button{
    border: #000 1px solid;
    padding: 1%;
    border-radius: 5px;
}
.light{
    background-color: white;
}