@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root{
    --primary:#000;
    
}

body{
    background-color: white;
    color: #000;
}